.roadmap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  &__title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  &__item {
    padding: 1rem;
    border-radius: 0.5rem;
    &Title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 0.5rem;
      border-radius: 0.25rem;
      color: #F8F9FB;
      margin-bottom: 10px;
    }
    &List {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &Resource {
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }
}