.myModal{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    z-index: 999;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    img {
        width: 50px;
    }
    .cancel{
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}

.myModalContent{
    padding: 20px;
    border-radius: 10px;
    min-width: 250px;
    background-color: #ececec;
    display: flex;
    flex-direction: column;

    span{
        font-weight: 700;
    }
    p{
        padding-left: 25px;
    }
}

.myModal__head{
    display: flex;
    align-items: center;
    gap: 5px;

    img{
        width: 20px;
    }
}

.myModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-up 0.3s ease-out;
}
.myModal.hide {
    opacity: 0;
    transform: translateY(100%);
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }