.list {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1440px;
    justify-content: center;

    .list_box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        max-width: 440px;
        padding: 30px;
        border-radius: 58px;
        background: #ffffff;
        box-shadow:  22px 22px 49px #b5b5b5,
                    -22px -22px 49px #ffffff;  
    }
    .list__btns {
        display: flex;
        gap: 10px;
    }
    .list_box__links {
        padding: 5px;
        margin-bottom: 10px;
    }
    .btn_roadmap {
        position: absolute;
        top: 88px;
        right: 137px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        img {
            width: 50px;
        }
    }
    
    .btn_roadmap:hover {
        background-color: rgb(231, 231, 231);
    }
}
